#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  max-width: 2800px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  --layout-background-color: lightgray;
  --header-background-color: white;
  --header-text-color: black;
  --menu-background-color: green;
  --menu-text-color: white;
  --body--background-color: white;
  --body-text-color: black;
  --edit-background-color: white;
  --edit-header-background-color: green;
  --edit-body-background-color: white;
  --edit-footer-background-color: white;
  --edit-header-text-color: white;
  --edit-body-text-color: black;
  --edit-footer-text-color: black;
  --footer-background-color: white;
  --footer-text-color: black;
  --add-background-color: green;
  --add-text-color: white;
  --modify-background-color: blue;
  --modify-text-color: black;
  --delete-background-color: red;
  --delete-text-color: white;
  --rename-background-color: rgb(0, 255, 85);
  --rename-text-color: black;
  --duplicate-background-color: rgb(0, 255, 85);
  --dupicate-text-color: black;
  --list-background-color: yellow;
  --list-text-color: black;
  --inactive-background-color: lightGray;
  --inactive-text-color: black;
  --large-font-size: 24pt;
  --small-font-size: 12pt;
  --error-background-color: red;
  --info-background-color: white;
  --error-text-color: white;
  --info-info-color: black;
  --yes-background-color: green;
  --yes-text-color: white;
  --no-background-color: red;
  --no-text-color: white;
  --submit-background-color: green;
  --submit-text-color: white;
  --ok-background-color: green;
  --ok-text-color: white;
  --cancel-background-color: red;
  --cancel-text-color: white;
  --modal-background-color: white;
  --modal-header-background-color: rgb(49, 175, 49);
  --modal-header-color: white;
  --modal-body-background-color: white;
  --modal-body-color: black;
  --modal-footer-background-color: rgb(49, 175, 49);
  --modal-footer-color: white;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
table,
th,
td {
  border: 1px solid black;
}
table {
  width: 100%;
}
td {
  text-align: left;
}
th {
  text-align: center;
}
label {
  padding: 5px;
  font-size: var(--small-font-size);
}
input {
  font-size: var(--small-font-size);
  background-color: lightgray;
}
textarea {
  font-size: var(--small-font-size);
}
div {
  font-size: var(--small-font-size);
}
h1 {
  font-size: var(--large-font-size);
}
p {
  font-size: var(--small-font-size);
  margin: 0;
}
a {
  font-weight: 500;
  background-color: var(--submit-background-color);
  color: var(--submit-text-color);
  text-decoration: inherit;
  margin: 5px;
}
a:hover {
  color: #535bf2;
}
button {
  border-radius: 8px;
  border: 2px solid black;
  padding-top: 0em;
  padding-left: 1em;
  padding-bottom: 0em;
  padding-right: 1em;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: white;

  transition: border-color 0.25s;
  margin: 1px;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* position: absolute;
  z-index: 1001;
  bottom: 125%;
  left: 50%;
  margin-left: -60px; */
  position: relative;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.navbar {
  height: 40px;
  overflow: visible;
  position: relative;
  z-index: 1001;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  overflow: visible;
  z-index: inherit;
}

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: inherit;
}

/* The container <div> - needed to position the dropdown content */
.dropbtn {
  font-size: 14px;
  padding: 8px;
  border: none;
  color: var(--body-text-color);
  background-color: var(--body-background-color);
  z-index: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--inactive-background-color);
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: inherit;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--inactive-text-color);
  background-color: var(--inactive-background-color);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  z-index: inherit;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkgray;
  color: white;
  z-index: inherit;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: inherit;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: darkgray;
  z-index: inherit;
}

.dropdown-one {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: visible;
  z-index: inherit;
}

.dropdown-two {
  display: none;
  position: relative;
  left: 0px;
  top: 0px;
  min-width: 160px;
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: inherit;
  overflow: visible;
}

.dropdown:hover .dropdown-one,
#link1:hover > .dropdown-two {
  display: block;
  z-index: inherit;
}

.dropdown-one .dItem {
  color: black;
  background-color: white;
  padding: 10px 10px;
  display: block;
  text-align: left;
  overflow: visible;
  width: max-content;
  position: relative;
  z-index: inherit;
}

.dropdown-one .dItem:hover,
.dropdown-two a:hover {
  background-color: #ddd;
  z-index: inherit;
}

.dropdown-two .dItem {
  color: black;
  background-color: white;
  padding: 10px 10px;
  display: block;
  text-align: left;
  overflow: visible;
  width: max-content;
  position: relative;
  z-index: inherit;
}

.page {
  padding: 0;
  margin: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: left;
  display: grid;
  grid-template-rows: 40px 45px 1fr 40px;
  grid-template-areas:
    "header"
    "timeline"
    "body"
    "footer";
    overflow-x: hidden;

  .header {
    background-color: lightblue;
    position: absolute;
    grid-area: header;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 50px 300px 1fr 350px;
    grid-template-areas: "icon menu title .";
    gap: 0;
    overflow: visible;
    z-index: 2001;
    .icon {
      grid-area: icon;
    }
    .menu {
      grid-area: menu;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      z-index: 2001;
      grid-template-areas: "file edit tools play help";
      .file-menu {
        grid-area: file;
      }
      .edit-menu {
        grid-area: edit;
      }
      .tools-menu {
        grid-area: tools;
      }
      .play-menu {
        grid-area: play;
      }
      .help-menu {
        grid-area: help;
      }
    }

    .title {
      grid-area: title;
      text-align: center;
    }
  }
  .timeline {
    display: grid;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    grid-area: timeline;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "control display";
    overflow-x: hidden;

    .control {
      grid-area: control;
    }
    .display {
      grid-area: display;
      fill: white;
    }
  }

  .page-body {
    display: grid;
    grid-area: body;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(8, 100px);
    gap: 0;
    position: absolute;
    top: 85px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .page-footer {
    background-color: lightskyblue;
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr;
    grid-template-areas: "status";
    position: fixed;
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 10;
    .status {
      display: block;
      grid-area: status;
      align-self: flex-end;
      margin-bottom: 5px;
      margin-left: 5px;
      font-size: 20pt;
      font-weight: bold;
      color: hsl(32, 100%, 21%);
    }
  }
}

.track-button {
  padding: 1px;
  width: 60px;
  height: 30px;
  font-size: 8pt;
}

.track-name-button {
  padding: 1px;
  width: 150px;
  height: 30px;
  text-align: left;
  font-size: 8pt;
}

/* Modal Content */
.modal-content {
  position: absolute;
  display: grid;
  z-index: 1001;
  top: 160px;
  left: 200px;
  width: auto;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "body" "footer";
  .modal-header {
    z-index: 1001;
    grid-area: header;
    padding: 2px 16px;
    display: block;
    background-color: var(--modal-header-background-color);

    text-align: center;
    color: white;
  }

  /* Modal Body */
  .modal-body {
    z-index: 1001;
    grid-area: body;
    padding: 2px 16px;
    text-align: left;
    display: block;
    background-color: white;
    color: black;
  }

  /* Modal Footer */
  .modal-footer {
    z-index: 1001;
    grid-area: footer;
    display: block;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
}

.generator-selected {
  fill: rgba(255, 169, 203, 0.418);
}

.generator-normal {
  fill: white;
}

.generator-content {
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  animation-name: animateleft;
  animation-duration: 0.4s;
  display: grid;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-template-rows: 40px 1fr 80px;
  grid-template-areas: "header" "body" "footer";
  overflow-x: hidden;
  .generator-header {
    grid-area: header;
    flex-shrink: 0;
    background-color: #5c75b8;
    overflow-x: hidden;
    color: white;
  }
  .generator-body {
    grid-area: body;
    flex-grow: 1;
    background-color: white;
    overflow-x: hidden;
    color: black;
  }
  .generator-footer {
    grid-area: footer;
    background-color: #5c75b8;
    color: white;
    overflow-x: hidden;
    flex-shrink: 0;
  }
}

.id {
  padding: 5px;
}

.addbutton {
  background-color: var(--add-background-color);
  color: var(--add-text-color);
  font-size: var(--large-font-size);
}
.editbutton {
  background-color: var(--modify-background-color);
  color: var(--modify-text-color);
  background-color: lightgreen;
  font-size: var(--large-font-size);
}
.deletebutton {
  background-color: var(--delete-background-color);
  color: var(--delete-text-color);
  font-size: var(--large-font-size);
}
.renamebutton {
  background-color: var(--rename-background-color);
  color: var(--delete-rename-color);
  font-size: var(--large-font-size);
}
.duplicatebutton {
  background-color: var(--duplicate-background-color);
  color: var(--delete-duplicate-color);
  font-size: var(--large-font-size);
}
.listbutton {
  background-color: var(--list-background-color);
  color: var(--list-text-color);
  font-size: var(--large-font-size);
}
.inactivebutton {
  background-color: var(--inactive-background-color);
  color: var(--inactive-text-color);
  font-size: var(--large-font-size);
}
.yesbutton {
  background-color: var(--yes-background-color);
  color: var(--yes-text-color);
  font-size: var(--large-font-size);
}
.nobutton {
  background-color: var(--no-background-color);
  color: var(--no-text-color);
  font-size: var(--large-font-size);
}
.okbutton {
  background-color: var(--ok-background-color);
  color: var(--ok-text-color);
  font-size: var(--small-font-size);
}
.submitbutton {
  background-color: var(--submit-background-color);
  color: var(--submit-text-color);
  font-size: var(--small-font-size);
}
.cancelbutton {
  background-color: var(--cancel-background-color);
  color: var(--cancel-text-color);
  font-size: var(--small-font-size);
}
.errormessage {
  background-color: var(--error-background-color);
  color: var(--error-text-color);
  font-size: var(--small-font-size);
}
.infomessage {
  background-color: var(--info-background-color);
  color: var(--info-text-color);
  font-size: var(--small-font-size);
}

.track-control {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px;
  padding: 0px;
  grid-column: span 1;
  border: 1px black solid;
}
.track-control > div {
  background-color: white;
  border: none;
  padding: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 30px;;
}
.track-display {
  display: block;
  grid-column: span 1;
  border: 1px black solid;
}

.modal-menu {
  background: rgba(219, 215, 208, 1);
  overflow: visible;
}

.intervalbox {
  stroke: black;
  stroke-width: 1;
  fill: rgba(169, 169, 169, 0.5);
}
.intervalmarker {
  fill: black;
}

.intervaledge {
  stroke: black;
  stroke-width: 5;
}

.play {
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:
    "header"
    "drawing"
    "footer";
  gap: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  overflow: hidden;
  z-index: 2000;
  .play-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 50px 700px 300px 1fr;
    grid-template-rows: 30px;
    grid-template-areas: "icon buttons levels title";
    z-index: inherit;
    .icon {
      grid-area: icon;
      padding-left: 2px;
    }
    .buttons {
      text-align: left;
      grid-area: buttons;
    }
    .levels {
      padding-top: 5px;
      text-align: left;
      grid-area:levels;
    }
    .title {
      grid-area: title;
      text-align: center;
    }
  }
  .play-body {
    grid-area: drawing;
    background-color: lightgray;
    z-index: inherit;
  }
  .play-footer {
    position: fixed;
    top: auto;
    left: 0;
    background-color: lightskyblue;
    grid-area: footer;
    display: block;
    z-index: inherit;
  }
}

.filedialog {
  /* border-radius and resize are not working */
  border: thin solid black;
  position: absolute;
  display: grid;
  top: 100px;
  left: 100px;
  width: 75%;
  grid-template-rows: 70px 330px 125px;
  grid-template-areas: "header" "body" "footer";
  z-index: 1000;
  .filedialog-header {
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightskyblue;
    grid-area: header;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 35px;
    grid-template-areas:
      "titlerow"
      "directoryrow";
    .titlerow {
      grid-area: titlerow;
      display: grid;
      grid-template-columns: 40px 1fr 50px;
      grid-template-areas: "icon title exit";
      gap: 0;
      .icon {
        grid-area: icon;
      }
      .title {
        grid-area: title;
      }
      .exit {
        grid-area: exit;
      }
      .exit > button {
        font-size: 12pt;
        size: 12pt;
      }
    }
    .directoryrow {
      grid-area: directoryrow;
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-areas: "navigation directory";
      gap: 0;
      .navigation {
        grid-area: navigation;
      }
      .directory {
        grid-area: directory;
      }
    }
  }
  .filedialog-body {
    grid-area: body;
    display: grid;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 320px;
    grid-template-areas: "searchtable";
    background-color: white;
    gap: 0;
    z-index: 1000;
    .searchtable {
      grid-area: searchtable;
      display: grid;
      grid-template-areas: "filesystemlist directorylist";
      grid-template-columns: 1fr 1fr;
      .filesystemlist {
        resize: horizontal;
        display: block;
        grid-area: filesystemlist;
        overflow: scroll;
        overflow-x: hidden;
        text-align: left;
        margin-left: 5px;
      }
      .directorylist {
        resize: horizontal;
        display: block;
        align-self: normal;
        grid-area: directorylist;
        overflow: scroll;
        overflow-x: hidden;
        text-align: left;
        margin-left: 5px;
      }
    }
  }
  .filedialog-footer {
    background-color: lightgray;
    position: fixed;
    top: auto;
    bottom: inherit;
    width: inherit;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "filerow" "status";
    .filerow {
      display: grid;
      grid-template-areas: "filename" "filetypes";
      grid-template-rows: 1fr 1fr;
      grid-area: filerow;
      margin-top: 2px;
      .filename {
        grid-area: filename;
        display: block;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 20px;
        font-size: 12pt;
        text-align: left;
      }
      .filetypes {
        grid-area: filetypes;
        display: block;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 45px;
        font-size: 12pt;
        text-align: left;
      }
    }
    .status {
      grid-area: status;
      border-top: thin solid black;
      display: grid;
      grid-template-columns: 1fr 120px;
      grid-template-areas: "message buttons";
      .message {
        grid-area: message;
        display: block;
        align-self: center;
        /* margin-bottom: 10px;
        margin-left: 5px; */
        font-size: 12pt;
        text-align: left;
      }
      .buttons {
        grid-area: buttons;
        display: block;
        align-self: flex-end;
        /* margin-bottom: 5px;
        margin-left: 5px; */
        font-size: 12pt;
      }
    }

    /* contains a status message and Save/Open and Cancel buttons */
  }
}
input:hover {
  background-color: lightcyan;
}
.directoryentry {
  font-size: 16px;
}
.directoryentry:hover {
  background-color: lightcyan;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button:hover {
    background-color: cyan;
  } */
}
