html {
  width: 11in;
  tab-size: 20px;
}
.report {
  font-family: Arial, sans-serif;
  padding: 20px;
}
h1 {
  text-align: left;
  font-size: 18px;
}
h2 {
  text-align: left;
  font-size: 17px;
}
h3 {
  text-align: left;
  font-size: 16px;
}
h4 {
  text-align: left;
  font-size: 15px;
}
h5 {
  text-align: left;
  font-size: 14px;
}
h6 {
  text-align: left;
  font-size: 13px;
}
p {
  font-size: 10px;
}

table {
  width:fit-content;
  border-collapse: collapse;
}

th {
  border: 1px solid #ddd;
  padding: 2px;
  font-style: italics;
}

td {
  border: 1px solid #ddd;
  padding: 2px;
}