html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
table,
th,
td {
  border: 1px solid black;
}
table { width: 100%;}
td { text-align: left;}
th { text-align: center;}
label {
  padding: 5px;
	font-size: var(--small-font-size);
}
input {
	font-size: var(--small-font-size);
  background-color: lightgray;
}
textarea {
	font-size: var(--small-font-size);
}
div {
	font-size: var(--small-font-size);
}
h1 {
	font-size: var(--large-font-size);
}
p {
	font-size: var(--small-font-size);
	margin: 0;
}
a {
	font-weight: 500;
	background-color: var(--submit-background-color);
	color: var(--submit-text-color);
	text-decoration: inherit;
	margin: 5px;
}
a:hover {
	color: #535bf2;
}

#root {
  max-width: 2800px;
  margin: 0;
  text-align: left;
	padding: 2rem;
	text-align: center;
	--layout-background-color: lightgray;
	--header-background-color: white;
	--header-text-color: black;
	--menu-background-color: green;
	--menu-text-color: white;
	--body--background-color: white;
	--body-text-color: black;
	--edit-background-color: white;
	--edit-header-background-color: green;
	--edit-body-background-color: white;
	--edit-footer-background-color: white;
	--edit-header-text-color: white;
	--edit-body-text-color: black;
	--edit-footer-text-color: black;
	--footer-background-color: white;
	--footer-text-color: black;
	--add-background-color: green;
	--add-text-color: white;
	--modify-background-color: blue;
	--modify-text-color: black;
	--delete-background-color: red;
	--delete-text-color: white;
	--rename-background-color: rgb(0, 255, 85);
	--rename-text-color: black;
	--duplicate-background-color: rgb(0, 255, 85);
	--dupicate-text-color: black;
	--list-background-color: yellow;
	--list-text-color: black;
	--inactive-background-color: rgb(122, 122, 122);
	--inactive-text-color: black;
	--large-font-size: 24pt;
	--small-font-size: 12pt;
	--error-background-color: red;
	--info-background-color: white;
	--error-text-color: white;
	--info-info-color: black;
	--yes-background-color: green;
	--yes-text-color: white;
	--no-background-color: red;
	--no-text-color: white;
	--submit-background-color: green;
	--submit-text-color: white;
	--ok-background-color: green;
	--ok-text-color: white;
	--cancel-background-color: red;
	--cancel-text-color: white;
	--modal-background-color: white;
	--modal-header-background-color: rgb(49, 175, 49);
	--modal-header-color: white;
	--modal-body-background-color: white;
	--modal-body-color: black;
	--modal-footer-background-color: rgb(49, 175, 49);
	--modal-footer-color: white;
}

.navbar {
  height: 40px;
  overflow: visible;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: black;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  overflow: visible;
}

.dropdown {
  float: left;
  position: relative;
  overflow: visible;
  /* z-index: 99; */
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 2px 5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  overflow: visible;
  z-index: 99;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-one {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: visible;
}

.dropdown-two {
  cursor: pointer;
  display: none;
  position: relative;
  left: 0px;
  top: 0px;
  min-width: 160px;
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow: visible;
}

.dropdown:hover .dropdown-one,
#link1:hover > .dropdown-two {
  display: block;
}

.dropdown-one .dItem {
  color: black;
  background-color: white;
  padding: 10px 10px;
  display: block;
  text-align: left;
  overflow: visible;
  width: max-content;
}

.dropdown-one .dItem:hover,
.dropdown-two a:hover {
  background-color: #ddd;
}

.page {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  text-align: left;
  display: grid;
  grid-template-rows: 40px 45px 1fr 180px;
  grid-template-areas:
    "header"
    "timeline"
    "body"
    "footer";
  .header {
    background-color: lightblue;
    position: absolute;
    grid-area: header;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 300px 1fr 350px;
    grid-template-areas: "icon menu title .";
    gap: 0;
    .icon {
      grid-area: icon;
    }
    .menu {
      grid-area: menu;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      z-index: 2;
      grid-template-areas: "file edit tools play help";
      .file {
        grid-area: file;
      }
      .edit {
        grid-area: edit;
      }
      .tools {
        grid-area: tools;
      }
      .play {
        grid-area: play;
      }
      .help {
        grid-area: help;
      }
    }

    .title {
      grid-area: title;
      text-align: center;
    }
  }
  .timeline {
    display: grid;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    grid-area: timeline;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "control display";

    .control {
      grid-area: control;
    }
    .display {
      grid-area: display;
      fill: white;
    }
  }

  .body {
    display: grid;
    grid-area: body;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(10, 100px);
    gap: 0;
    position: absolute;
    top: 85px;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
  }
  .footer {
    background-color: lightskyblue;
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr 300px 300px 300px 40px;
    grid-template-areas: "status reverb compressor equalizer volume";
    position: fixed;
    width: 100%;
    top: auto;
    bottom: 0;
    .status {
      display: block;
      grid-area: status;
      align-self: flex-end;
      margin-bottom: 5px;
      margin-left: 5px;
      font-size: 20pt;
      font-weight: bold;
      color: hsl(32, 100%, 21%);
    }
    .compressor {
      background-color: white;
      display: block;
      grid-area: compressor;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        .button {
          font-size: 5px;
        }
      }

      .sliders {
        display: flex;

        .slider {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 40px;
          height: 150px;
          flex-direction: column;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          cursor: inherit;

          .param {
            color: black;
            font-size: 10px;
            line-height: 10px;
            text-align: center;
            cursor: inherit;
          }
          input[type="range"] {
            writing-mode: vertical-lr;
            direction: rtl;
            height: 90px;
            width: 30px;
            cursor: inherit;
          }
        }
      }
    }
    .reverb {
      background-color: white;
      display: block;
      grid-area: reverb;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;
      cursor: inherit;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        cursor: inherit;
        .button {
          font-size: 5px;
        }
      }

      .sliders {
        display: flex;
        cursor: inherit;
      }
      .slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 40px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        cursor: inherit;

        .param {
          color: black;
          font-size: 10px;
          line-height: 10px;
          text-align: center;
          cursor: inherit;
        }
        input[type="range"] {
          writing-mode: vertical-lr;
          direction: rtl;
          height: 90px;
          width: 30px;
          cursor: inherit;
        }
      }
    }

    .equalizer {
      background-color: white;
      display: block;
      grid-column: equalizer;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;
      cursor: inherit;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        .button {
          font-size: 5px;
        }
        cursor: inherit;
      }

      .sliders {
        display: flex;
        cursor: inherit;
      }
      .slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 30px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        cursor: inherit;

        .param {
          color: black;
          font-size: 10px;
          line-height: 10px;
          cursor: inherit;
        }

        input[type="range"] {
          writing-mode: vertical-lr;
          direction: rtl;
          height: 100px;
          width: 30px;
          cursor: inherit;
        }
      }
    }

    .volume {
      background-color: white;
      display: block;
      grid-area: volume;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;
      cursor: inherit;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        cursor: inherit;
      }
      .sliders {
        display: flex;
        cursor: inherit;
      }
      .slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 30px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        cursor: inherit;

        .param {
          color: black;
          font-size: 10px;
          line-height: 10px;
          cursor: inherit;
        }

        input[type="range"] {
          writing-mode: vertical-lr;
          direction: rtl;
          height: 100px;
          width: 30px;
          cursor: inherit;
        }
      }
    }

    [inert] > * {
      opacity: 0.5;
      cursor: wait;
    }
  }
}

.track-button {
  padding: 1px;
  width: 60px;
  height: 30px;
  font-size: 8pt;
  cursor: inherit;
}

.track-name-button {
  padding: 1px;
  width: 150px;
  height: 30px;
  text-align: left;
  font-size: 8pt;
  cursor: inherit;
}

/* Modal Content */
.modal-content {
  position: absolute;
  z-index: 10;
  top: 160px;
  left: 200px;
  width: 50em;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'header' 'body' 'footer';
  .modal-header {
    grid-area: header;
    padding: 2px 16px;
    display: block;
    background-color: #5cb85c;
    text-align: left;
    color: white;
  }

  /* Modal Body */
  .modal-body {
    grid-area: body;
    padding: 2px 16px;
    text-align: left;
    display: block;
    background-color: white;
    color: black;
  }

  /* Modal Footer */
  .modal-footer {
    grid-area: footer;
    display:block;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
}

.generator-selected {
  fill: rgba(255, 169, 203, 0.418);
}

.generator-normal {
  fill: white;
}

.generator-content {
  z-index: 2;
  top: 0;
  left: 0;
  position:fixed;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateleft;
  animation-duration: 0.4s;
  cursor: inherit;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .header {
    flex-shrink: 0;
    background-color: #5c75b8;
    color: white;
  }
  .body {
    flex-grow: 1;
    background-color: white;
    overflow: auto;
    color: black;
  }
  .footer {
    background-color: #5c75b8;
    color: white;
    flex-shrink: 0;
  }
}

.id {
  padding: 5px;
}

/* .algorithmic-preamble {
  display: grid;
  grid-area: body;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "soundfont tools" "reverb vibrato" "noise tremolo" "rhythm rhythm";
  background-color: white;
  color: black;
  .id {
    grid-area: id;
    padding: 5px;
  }
  .soundfont {
    grid-area: soundfont;
    padding: 5px;
  }
  .tremolo {
    grid-area: tremolo;
    padding: 5px;
  }
  .vibrato {
    grid-area: vibrato;
    padding: 5px;
  }
  .tools {
    grid-area: tools;
    padding: 5px;
  }
  .rhythm {
    grid-area: rhythm;
    padding: 5px;
  }
  .noise {
    grid-area: noise;
    padding: 5px;
  }
  .reverb {
    grid-area: reverb;
    padding: 5px;
  }
  .table {
    grid-area: table;
    padding: 5px;
  }
} */

.algorithmic-table {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
  grid-template-areas: "attribute gentype parameters";
  gap: 5px;
  .attribute {
    grid-area: attribute;
    align-self: center;
  }
  .gentype {
    grid-area: gentype;
    align-self: center;
  }
  .parameters {
    grid-area: parameters;
    .sequencer {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr 7fr;
      grid-template-areas: "name reload view transpose transform";
      .name {
        grid-area: name;
      }
      .reload {
        grid-area: reload;
      }
      .view {
        grid-area: view;
      }
      .transpose {
        grid-area: transpose;
      }
      .transform {
        grid-area: transform;
      }
    }
    .constant {
      display: grid;
      grid-template-columns: 1fr 1fr 8fr;
      grid-template-areas: "valuetitle value .";
      gap: 0;
      .valuetitle {
        grid-area: valuetitle;
      }
      div.value {
        grid-area: value;
      }
    }
    .oscillator {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas:
        "typetitle centertitle frequencytitle amplitudetitle phasetitle"
        "type center frequency amplitude phase";
      gap: 0;
      .typetitle {
        grid-area: typetitle;
      }
      .centertitle {
        grid-area: centertitle;
      }
      .frequencytitle {
        grid-area: frequencytitle;
      }
      .amplitudetitle {
        grid-area: amplitudetitle;
      }
      .phasetitle {
        grid-area: phasetitle;
      }
      .type {
        grid-area: type;
      }
      .center {
        grid-area: center;
      }
      .frequency {
        grid-area: frequency;
      }
      .amplitude {
        grid-area: amplitude;
      }
      .phase {
        grid-area: phase;
      }
    }
    .autoregressive {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "initialvaluetitle seedtitle alphatitle sigmatitle lotitle hititle"
        "initialvalue seed alpha sigma lo hi";
      gap: 0;
      .seedtitle {
        grid-area: seedtitle;
      }
      .initialvaluetitle {
        grid-area: initialvaluetitle;
      }
      .alphatitle {
        grid-area: alphatitle;
      }
      .sigmatitle {
        grid-area: sigmatitle;
      }
      .lotitle {
        grid-area: lotitle;
      }
      .hititle {
        grid-area: hititle;
      }
      .seed {
        grid-area: seed;
      }
      .initialvalue {
        grid-area: initialvalue;
      }
      .alpha {
        grid-area: alpha;
      }
      .sigma {
        grid-area: sigma;
      }
      .lo {
        grid-area: lo;
      }
      .hi {
        grid-area: hi;
      }
    }
    .markovian {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas:
        "seed start lo hi step"
        "transition tosame toup todown ."
        "fromsame ss su sd ."
        "fromup us uu ud ."
        "fromdown ds du dd .";
      gap: 0;
      .seed {
        grid-area: seed;
      }
      .start {
        grid-area: start;
      }
      .lo {
        grid-area: lo;
      }
      .hi {
        grid-area: hi;
      }
      .step {
        grid-area: step;
      }
      .transition {
        grid-area: transition;
      }
      .tosame {
        grid-area: tosame;
      }
      .toup {
        grid-area: toup;
      }
      .todown {
        grid-area: todown;
      }
      .fromsame {
        grid-area: fromsame;
      }
      .fromup {
        grid-area: fromup;
      }
      .fromdown {
        grid-area: fromdown;
      }
      .ss {
        grid-area: ss;
      }
      .su {
        grid-area: su;
      }
      .sd {
        grid-area: sd;
      }
      .us {
        grid-area: us;
      }
      .uu {
        grid-area: uu;
      }
      .ud {
        grid-area: ud;
      }
      .ds {
        grid-area: ds;
      }
      .du {
        grid-area: du;
      }
      .dd {
        grid-area: dd;
      }
    }
    .wiener {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "seedtitle initialtitle trendtitle dispersiontitle lotitle hititle"
        "seed initialv trend dispersion lo hi";
      gap: 2px;
      .seedtitle {
        grid-area: seedtitle;
        size: 10em;
      }
      .initialtitle {
        grid-area: initial;
      }
      .trendtitle {
        grid-area: trendtitle;
      }
      .dispersiontitle {
        grid-area: dispersiontitle;
      }
      .lotitle {
        grid-area: lotitle;
      }
      .hititle {
        grid-area: hititle;
      }
      .seed {
        grid-area: seed;
        size: 10em;
      }
      .initial {
        grid-area: initialv;
      }
      .trend {
        grid-area: trend;
      }
      .dispersion {
        grid-area: dispersion;
      }
      .lo {
        grid-area: lo;
      }
      .hi {
        grid-area: hi;
      }
    }
  }
}

.stochastic-preamble {
  display: block;
}

.control-content {
  position: fixed;
  z-index: 2;
  top: 5%;
  left: 5%;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateleft;
  animation-duration: 0.4s;
  cursor: inherit;
  display: grid;
  grid-template-rows: 20px 1fr auto;
  grid-template-areas: "header" "body" "footer";
  .content-header {
    grid-area: header;
    background-color: #5c75b8;
    color: white;
  }
  .content-body {
    grid-area: body;
    background-color: white;
    color: black;
  }
  .content-footer {
    grid-area: footer;
    background-color: #5c75b8;
    color: white;
  }
}
.control-button {
  padding: 0px;
  width: 30px;
  height: 30px;
  border: none;
  fill: none;
}
.addbutton {
	background-color: var(--add-background-color);
	color: var(--add-text-color);
	font-size: var(--large-font-size);
}
.editbutton {
	background-color: var(--modify-background-color);
	color: var(--modify-text-color);
	background-color: lightgreen;
	font-size: var(--large-font-size);
}
.deletebutton {
	background-color: var(--delete-background-color);
	color: var(--delete-text-color);
	font-size: var(--large-font-size);
}
.renamebutton {
	background-color: var(--rename-background-color);
	color: var(--delete-rename-color);
	font-size: var(--large-font-size);
}
.duplicatebutton {
	background-color: var(--duplicate-background-color);
	color: var(--delete-duplicate-color);
	font-size: var(--large-font-size);
}
.listbutton {
	background-color: var(--list-background-color);
	color: var(--list-text-color);
	font-size: var(--large-font-size);
}
.inactivebutton {
	background-color: var(--inactive-background-color);
	color: var(--inactive-text-color);
	font-size: var(--large-font-size);
}
.yesbutton {
	background-color: var(--yes-background-color);
	color: var(--yes-text-color);
	font-size: var(--large-font-size);
}
.nobutton {
	background-color: var(--no-background-color);
	color: var(--no-text-color);
	font-size: var(--large-font-size);
}
.okbutton {
	background-color: var(--ok-background-color);
	color: var(--ok-text-color);
	font-size: var(--small-font-size);
}
.submitbutton {
	background-color: var(--submit-background-color);
	color: var(--submit-text-color);
	font-size: var(--small-font-size);
}
.cancelbutton {
	background-color: var(--cancel-background-color);
	color: var(--cancel-text-color);
	font-size: var(--small-font-size);
}
.errormessage {
	background-color: var(--error-background-color);
	color: var(--error-text-color);
	font-size: var(--small-font-size);
}
.infomessage {
	background-color: var(--info-background-color);
	color: var(--info-text-color);
	font-size: var(--small-font-size);
}

.track-control {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px;
  padding: 0px;
  grid-column: span 1;
  border: 1px black solid;
}
.track-control > div {
  background-color: white;
  border: none;
  padding: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.track-display {
  display: block;
  grid-column: span 1;
  border: 1px black solid;
}

.modal-menu {
  background: rgba(219, 215, 208, 1);
  cursor: inherit;
  overflow: visible;
}

.intervalbox {
  stroke: black;
  stroke-width: 1;
  fill: rgba(169, 169, 169, 0.5);
  cursor: inherit;
}
.intervalmarker {
  fill: black;
  cursor: inherit;
}

.intervaledge {
  stroke: black;
  stroke-width: 5;
  cursor: inherit;
}

.preview {
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 40px 45px 1fr 180px;
  grid-template-areas:
    "header"
    "timeline"
    "drawing"
    "footer";
  gap: 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  .preview-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 30px 110px 1fr 140px;
    grid-template-rows: 30px;
    grid-template-areas: "icon buttons title .";
    .icon {
      grid-area: icon;
      padding-left: 2px;
    }
    .buttons {
      grid-area: buttons;
    }
    .title {
      grid-area: title;
      text-align: center;
    }
  }
  .timeline {
    grid-area: timeline;
    background-color: lightgray;
  }
  .drawing {
    grid-area: drawing;
    background-color: white;
  }
  .preview-footer {
    position: fixed;
    top: auto;
    background-color: lightskyblue;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 300px 300px 300px 300px 300px 40px;
    grid-template-areas: "status leftSignal rightSignal reverb compressor equalizer volume";
    .status {
      grid-area: status;
    }
    .leftSignal {
      background-color: white;
      grid-area: leftSignal;
      display: grid;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "leftSpectrum" "leftVolume";
      .leftSpectrum {
        grid-area: leftSpectrum;
        fill: white;
        stroke: black;
      }
      .leftVolume {
        grid-area: leftVolume;
        background-color: lightgray;
        fill: lightgray;
        stroke: black;
      }
      .leftPoint {
        stroke: red;
        fill: none;
      }
      .leftMax {
        stroke: blue;
        fill: none;
      }
    }
    .rightSignal {
      background-color: white;
      grid-area: rightSignal;
      display: grid;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "rightSpectrum" "rightVolume";
      .rightSpectrum {
        grid-area: rightSpectrum;
        fill: white;
        stroke: black;
      }
      .rightVolume {
        grid-area: rightVolume;
        fill: lightgray;
        stroke: black;
      }
      .rightPoint {
        stroke: red;
        fill: none;
      }
      .rightMax {
        stroke: blue;
        fill: none;
      }
    }
    .compressor {
      background-color: white;
      display: block;
      grid-area: compressor;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        .button {
          font-size: 5px;
        }
      }

      .sliders {
        display: flex;

        .slider {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 40px;
          height: 150px;
          flex-direction: column;
          justify-content: space-between;
          padding: 0;
          margin: 0;
          cursor: inherit;

          .param {
            color: black;
            font-size: 10px;
            line-height: 10px;
            text-align: center;
            cursor: inherit;
          }
          input[type="range"] {
            writing-mode: vertical-lr;
            direction: rtl;
            height: 90px;
            width: 30px;
            cursor: inherit;
          }
        }
      }
    }
    .reverb {
      background-color: white;
      display: block;
      grid-area: reverb;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;
      cursor: inherit;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        cursor: inherit;
        .button {
          font-size: 5px;
        }
      }

      .sliders {
        display: flex;
        cursor: inherit;
      }
      .slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 40px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        cursor: inherit;

        .param {
          color: black;
          font-size: 10px;
          line-height: 10px;
          text-align: center;
          cursor: inherit;
        }
        input[type="range"] {
          writing-mode: vertical-lr;
          direction: rtl;
          height: 90px;
          width: 30px;
          cursor: inherit;
        }
      }
    }

    .equalizer {
      background-color: white;
      display: block;
      grid-column: equalizer;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;
      cursor: inherit;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        .button {
          font-size: 5px;
        }
        cursor: inherit;
      }

      .sliders {
        display: flex;
        cursor: inherit;
      }
      .slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 30px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        cursor: inherit;

        .param {
          color: black;
          font-size: 10px;
          line-height: 10px;
          cursor: inherit;
        }

        input[type="range"] {
          writing-mode: vertical-lr;
          direction: rtl;
          height: 100px;
          width: 30px;
          cursor: inherit;
        }
      }
    }

    .volume {
      background-color: white;
      display: block;
      grid-area: volume;
      justify-self: right;
      max-width: 300px;
      width: 100%;
      height: 180px;
      justify-content: center;
      align-items: center;
      outline: solid #5c75b8;
      cursor: inherit;

      .title {
        line-height: normal;
        font-size: 10px;
        text-align: center;
        color: black;
        cursor: inherit;
      }
      .sliders {
        display: flex;
        cursor: inherit;
      }
      .slider {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 30px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        cursor: inherit;

        .param {
          color: black;
          font-size: 10px;
          line-height: 10px;
          cursor: inherit;
        }

        input[type="range"] {
          writing-mode: vertical-lr;
          direction: rtl;
          height: 100px;
          width: 30px;
          cursor: inherit;
        }
      }
    }
  }
}

.filedialog {
  /* border-radius and resize are not working */
  border: thin solid black;
  position: absolute;
  display: grid;
  top: 100px;
  left: 100px;
  width: 75%;
  grid-template-rows: 70px 320px 125px;
  grid-template-areas: "header" "body" "footer";
  z-index: 99;
  .header {
    display: grid;
    top: 0;
    left: 0;
    width:100%;
    background-color: lightskyblue;
    grid-area: header;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 35px;
    grid-template-areas:
      "titlerow"
      "directoryrow";
    .titlerow {
      grid-area: titlerow;
      display: grid;
      grid-template-columns: 40px 1fr 50px;
      grid-template-areas: "icon title exit";
      gap: 0;
      .icon {
        grid-area: icon;
      }
      .title {
        grid-area: title;
      }
      .exit {
        grid-area: exit;
      }
      .exit > button {
        font-size: 12pt;
        size: 12pt;
      }
    }
    .directoryrow {
      grid-area: directoryrow;
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-template-areas: "navigation directory";
      gap: 0;
      .navigation {
        grid-area: navigation;
      }
      .directory {
        grid-area: directory;
      }
    }
  }
  .body {
    grid-area: body;
    display: grid;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 320px;
    grid-template-areas: "searchtable";
    background-color: white;
    gap: 0;
    .searchtable {
      grid-area: searchtable;
      display: grid;
      grid-template-areas: "filesystemlist directorylist";
      grid-template-columns: 1fr 1fr;
      .filesystemlist {
        resize: horizontal;
        display: block;
        grid-area: filesystemlist;
        overflow: scroll;
        overflow-x: hidden;
        text-align: left;
        margin-left: 5px;
      }
      .directorylist {
        resize: horizontal;
        display: block;
        align-self: normal;
        grid-area: directorylist;
        overflow: scroll;
        overflow-x: hidden;
        text-align: left;
        margin-left: 5px;
      }
    }
  }
  .footer {
    background-color: lightgray;
    position: fixed;
    top: auto;
    bottom: inherit;
    width: inherit;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;;
    grid-template-rows: 50px 75px;
    grid-template-areas: "filerow" "status";
    .filerow {
      display: grid;
      grid-template-areas: "filename" "filetypes";
      grid-template-rows: 1fr 1fr;
      grid-area: filerow;
      margin-top: 2px;;
      .filename {
        grid-area: filename;
        display: block;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 20px;
        font-size: 12pt;
        text-align: left;
      }
      .filetypes {
        grid-area: filetypes;
        display: block;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 45px;
        font-size: 12pt;
        text-align: left;
      }
    }
    .status {
      grid-area: status;
      border-top: thin solid black;
      display: grid;
      grid-template-columns: 1fr 120px;
      grid-template-areas: "message buttons";
      .message {
        grid-area: message;
        display: block;
        align-self: flex-end;
        margin-bottom: 10px;
        margin-left: 5px;
        font-size: 12pt;
        text-align: left;
      }
      .buttons {
        grid-area: buttons;
        display: block;
        align-self: flex-end;
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 12pt;
      }
    }

    /* contains a status message and Save/Open and Cancel buttons */
  }
}
input:hover {
  background-color: lightcyan;
}
.directoryentry {
  font-size: 16px;
}
.directoryentry:hover {
  background-color: lightcyan;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
