html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  max-width: 2800px;
  margin: 0;
  padding: 0;
  text-align: left;
}

fieldset {
  display: inline;
  border-style: none;
  padding: 0%;
  margin: 0%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  text-align: left;
}

.page-grid {
  display: grid;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: 40px 40px 40px 40px 2000fr 40px;
  gap: 0;
}

.page-icon {
  display: block;
  grid-template-columns: subgrid;
}

.page-title {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 5;
}

.page-message {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 6;
}

.page-menus {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 12;
}

.page-control {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 12;
}

.page-time-control {
  grid-template-columns: subgrid;
  display: block;
}

.page-time-timeline {
  grid-template-columns: subgrid;
  display: block;
  grid-column: span 11;
}

.page-body {
  grid-template-columns: subgrid;
  display: grid;
  grid-column: span 12;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: 100px;
  gap: 0;
}

.page-track-control {
  /* grid-template-columns: subgrid; */
  display: block;
  grid-column: span 1;
  border: 1px black solid;
  height: 100px;
}

.page-track-display {
  /* grid-template-columns: subgrid; */
  display: block;
  grid-column: span 11;
  border: 1px black solid;
  height: 100px;
  width: 100%;
}

.page-footer {
  display: grid;
  grid-template-columns: 8fr 1fr 2fr;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
}

.page-footer-status {
  display: block;
  grid-column: span 1;
  align-self: flex-end;
  margin-bottom: 5px;
}

.page-footer-compressor {
  display: block;
  grid-column: span 1;
  justify-self: right;
  max-width: 300px;
  width: 100%;
  height: 170px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: solid #5c75b8;

  .title {
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: black;
  }

  .sliders {
    display: flex;
  }
}
.compressor-slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  .param {
    color: black;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
  }
  input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 90px;
    width: 30px;
  }
}

.page-footer-equalizer {
  display: block;
  grid-column: span 1;
  justify-self: right;
  max-width: 300px;
  width: 100%;
  height: 170px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: solid #5c75b8;

  .title {
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: black;
  }

  .sliders {
    display: flex;
  }
}

.equalizer-slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  .param {
    color: black;
    font-size: 10px;
    line-height: 10px;
  }

  input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 100px;
    width: 30px;
  }
}

.track-button {
  padding: 1px;
  width: 60px;
  height: 30px;
  font-size: 8pt;
}

.track-name-button {
  padding: 1px;
  width: 150px;
  height: 30px;
  text-align: left;
  font-size: 8pt;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 200px;
  width: 50em;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.generator-header {
  padding: 2px 16px;
  background-color: #5c75b8;
  color: white;
}

.generator-body {
  padding: 2px 16px;
}

.generator-footer {
  padding: 2px 16px;
  background-color: #5c75b8;
  color: white;
}

.generator-content {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 100px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateleft;
  animation-duration: 0.4s;
}

.modal-menu {
  background: rgba(219, 215, 208, 0.9);
}

.cursor-default {
  cursor: auto;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

.cursor-context-menu {
  cursor: context-menu;
}

.cursor-col-resize {
  cursor: col-resize;
}

.cursor-context-menu {
  cursor: context-menu;
}

.transition-box {
  border: 1px solid black;
}

.transition-header {
  text-align: center;
  stroke: blue;
}

.progress-container {
  height: 20;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50;
  margin: 50;
}

.progress-filler {
  height: 100%;
  background-color: #00695c;
  border-radius: inherit;
  text-align: right;
}

.progress-labels {
  padding: 5;
  color: white;
  font-weight: bold;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
