html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  max-width: 2800px;
  margin: 0;
  padding: 0;
  text-align: left;
}

fieldset {
  display: inline;
  border-style: none;
  padding: 0%;
  margin: 0%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.waiting * {
  cursor: wait;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page {
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: default;
}

[inert] > * {
  opacity: 0.5;
  cursor: wait;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  z-index: 1;
  cursor: inherit;
}

.page-grid {
  display: grid;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: repeat(4, 40px);
  gap: 0;
  cursor: inherit;
}

.page-icon {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 1;
  cursor: inherit;
}

.page-title {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 9;
  cursor: inherit;
}
.page-comment {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 2;
  cursor: inherit;
}

.page-menus {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 12;
  cursor: inherit;
}

.page-control {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 12;
  cursor: inherit;
}

.page-time-control {
  grid-template-columns: subgrid;
  display: block;
  cursor: inherit;
}

.page-time-timeline {
  grid-template-columns: subgrid;
  display: block;
  grid-column: span 11;
  cursor: inherit;
}

.page-body {
  display: grid;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: 100px 100px 100px 100px 100px;
  gap: 0;
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  cursor: inherit;
  overflow: auto;
}

.page-track-control {
  /* grid-template-columns: subgrid; */
  display: block;
  grid-column: span 1;
  border: 1px black solid;
  height: 100px;
  cursor: inherit;
}

.page-track-display {
  /* grid-template-columns: subgrid; */
  display: block;
  grid-column: span 11;
  border: 1px black solid;
  height: 100px;
  width: 100%;
  cursor: inherit;
}

.page-footer {
  display: grid;
  grid-template-columns: 8fr 0.4fr 1.1fr 1.5fr;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  cursor: inherit;
  z-index: 1;
}

.page-footer-status {
  display: block;
  grid-column: span 1;
  align-self: flex-end;
  margin-bottom: 5px;
  cursor: inherit;
}

.page-footer-compressor {
  display: block;
  grid-column: span 1;
  justify-self: right;
  max-width: 300px;
  width: 100%;
  height: 170px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: solid #5c75b8;
  cursor: inherit;

  .title {
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: black;
    cursor: inherit;
    .button {
      font-size: 5px;
    }
  }

  .sliders {
    display: flex;
    cursor: inherit;
  }
}
.compressor-slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  cursor: inherit;

  .param {
    color: black;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    cursor: inherit;
  }
  input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 90px;
    width: 30px;
    cursor: inherit;
  }
}

.page-footer-equalizer {
  display: block;
  grid-column: span 1;
  justify-self: right;
  max-width: 300px;
  width: 100%;
  height: 170px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: solid #5c75b8;
  cursor: inherit;

  .title {
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: black;
    .button {
      font-size: 5px;
    }
    cursor: inherit;
  }

  .sliders {
    display: flex;
    cursor: inherit;
  }
}

.page-footer-volume {
  display: block;
  grid-column: span 1;
  justify-self: right;
  max-width: 300px;
  width: 100%;
  height: 170px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: solid #5c75b8;
  cursor: inherit;

  .title {
    line-height: normal;
    font-size: 10px;
    text-align: center;
    color: black;
    cursor: inherit;
  }
}

.equalizer-slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  cursor: inherit;

  .param {
    color: black;
    font-size: 10px;
    line-height: 10px;
    cursor: inherit;
  }

  input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 100px;
    width: 30px;
    cursor: inherit;
  }
}
.volume-slider {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  cursor: inherit;

  .param {
    color: black;
    font-size: 10px;
    line-height: 10px;
    cursor: inherit;
  }

  input[type="range"] {
    writing-mode: vertical-lr;
    direction: rtl;
    height: 100px;
    width: 30px;
    cursor: inherit;
  }
}

.track-button {
  padding: 1px;
  width: 60px;
  height: 30px;
  font-size: 8pt;
  cursor: inherit;
}

.track-name-button {
  padding: 1px;
  width: 150px;
  height: 30px;
  text-align: left;
  font-size: 8pt;
  cursor: inherit;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  cursor: inherit;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  cursor: inherit;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  cursor: inherit;
}

/* Modal Content */
.modal-content {
  position: absolute;
  z-index: 2;
  top: 160px;
  left: 200px;
  width: 50em;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  cursor: inherit;
}

.generator-header {
  padding: 2px 16px;
  background-color: #5c75b8;
  color: white;
}

.generator-body {
  padding: 2px 16px;
}

.generator-footer {
  padding: 2px 16px;
  background-color: #5c75b8;
  color: white;
}

.generator-selected {
  fill: rgba(255, 169, 203, 0.418);
}

.generator-playing {
  fill: rgba(255, 169, 203, 0.999);
}

.generator-normal {
  fill: white;
}

.generator-content {
  position: fixed;
  z-index: 2;
  top: 5%;
  left: 5%;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateleft;
  animation-duration: 0.4s;
  cursor: inherit;
}

.algorithmic-table {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
  grid-template-areas: "attribute gentype parameters";
  gap: 2px;
  .attribute {
    grid-area: attribute;
  }
  .gentype {
    grid-area: gentype;
  }
  .parameters {
    grid-area: parameters;
    .oscillator {
      display: grid;
      grid-template-columns: 0.5fr repeat(5, 1fr);
      grid-template-areas: "type center frequency amplitude phase";
      gap: 0;
      .type {
        grid-area: type;
      }
      .center {
        grid-area: center;
      }
      .frequency {
        grid-area: frequency;
      }
      .amplitude {
        grid-area: amplitude;
      }
      .phase {
        grid-area: phase;
      }
    }
    .markovian {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas:
        "seed start lo hi step"
        "transition tosame toup todown ."
        "fromsame ss su sd ."
        "fromup us uu ud ."
        "fromdown ds du dd .";
      gap: 0;
      .seed {
        grid-area: seed;
        gap: 0;
      }
      .start {
        grid-area: start;
        gap: 0;
      }
      .lo {
        grid-area: lo;
        gap: 0;
      }
      .hi {
        grid-area: hi;
        gap: 0;
      }
      .step {
        grid-area: step;
        gap: 0;
      }
      .transition {
        grid-area: transition;
        gap: 0;
      }
      .tosame {
        grid-area: tosame;
        gap: 0;
      }
      .toup {
        grid-area: toup;
        gap: 0;
      }
      .todown {
        grid-area: todown;
        gap: 0;
      }
      .fromsame {
        grid-area: fromsame;
        gap: 0;
      }
      .fromup {
        grid-area: fromup;
        gap: 0;
      }
      .fromdown {
        grid-area: fromdown;
        gap: 0;
      }
      .ss {
        grid-area: ss;
        gap: 0;
      }
      .su {
        grid-area: su;
        gap: 0;
      }
      .sd {
        grid-area: sd;
        gap: 0;
      }
      .us {
        grid-area: us;
        gap: 0;
      }
      .uu {
        grid-area: uu;
        gap: 0;
      }
      .ud {
        grid-area: ud;
        gap: 0;
      }
      .ds {
        grid-area: ds;
        gap: 0;
      }
      .du {
        grid-area: du;
        gap: 0;
      }
      .dd {
        grid-area: dd;
        gap: 0;
      }
    }
    .wiener {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "seed initial trend dispersion lo hi";
      gap: 2px;
      color: black;
      font-size: 1em;
      line-height: 1.5em;
      text-align: left;
      margin-right: 2px;
      .seed {
        grid-area: seed;
        size: 10em;
      }
      .initial {
        grid-area: initial;
      }
      .trend {
        grid-area: trend;
      }
      .dispersion {
        grid-area: dispersion;
      }
      .lo {
        grid-area: lo;
      }
      .hi {
        grid-area: hi;
      }
    }
  }
}

.modal-menu {
  background: rgba(219, 215, 208, 1);
  cursor: inherit;
  z-index: 2;
}

.cursor-default {
  cursor: default;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

.cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-ns-resize {
  cursor: ns-resize;
}

.cursor-context-menu {
  cursor: context-menu;
}

.cursor-col-resize {
  cursor: col-resize;
}

.cursor-context-menu {
  cursor: context-menu;
}

.progress-container {
  height: 20;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50;
  margin: 50;
  cursor: inherit;
}

.progress-filler {
  height: 100%;
  background-color: #00695c;
  border-radius: inherit;
  text-align: right;
  cursor: inherit;
}

.progress-labels {
  padding: 5;
  color: white;
  font-weight: bold;
  cursor: inherit;
}

.intervalbox {
  stroke: black;
  stroke-width: 1;
  fill: rgba(169, 169, 169, 0.5);
  cursor: inherit;
}
.intervalmarker {
  fill: black;
  cursor: inherit;
}

.intervaledge {
  stroke: black;
  stroke-width: 2;
  cursor: inherit;
}

.timeline {
  fill: white;
  cursor: inherit;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
