#root {

  max-width: 2800px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.page {
  padding: 0;
  margin:0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  text-align: left;
}
.page-grid {
  display: grid;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: 40px 40px 40px 40px 2000fr 40px;
  gap: 0;
}
.page-icon {
  display: block;
  grid-template-columns: subgrid;
}

.page-title {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 5;

}
.page-message {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 6;
}

.page-menus {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 12;
}

.page-control {
  display: block;
  grid-template-columns: subgrid;
  grid-column: span 12;
}

.page-time-control {
  grid-template-columns: subgrid;
  display: block;
}
.page-time-timeline {
  grid-template-columns: subgrid;
  display: block;
  grid-column: span 11;
}
.page-body {
  grid-template-columns: subgrid;
  display: grid;
  grid-column: span 12;
  grid-template-columns: 200px repeat(11, 1fr);
  grid-template-rows: 100px;
  gap: 0;

}
.page-track-control {
  grid-template-columns: subgrid;
  display:block;
  border: 1px black solid;
}
.page-track-display {
  grid-template-columns: subgrid;
  display:block;
  grid-column: span 11;
  border: 1px black solid;
}
.page-footer {
  grid-template-columns: subgrid;
  display: block;
  grid-column: span 12;
  position: fixed;
  top: auto;
  bottom: 0;
}

.track-button {
  padding: 1px;
  width: 60px;
  height: 30px;
  font-size: 8pt;
}

.track-name-button {
  padding: 1px;
  width: 150px;
  height: 30px;
  text-align: left;
  font-size: 8pt;
}

.slidercontainer {
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity 0.2s;
}

.slide:hover {
  opacity: 1;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  top: -100px;
  left: 200px;
  width: 50em;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.generator-header {
  padding: 2px 16px;
  background-color: #5c75b8;
  color: white;
}

.generator-body {
  padding: 2px 16px;
}

.generator-footer {
  padding: 2px 16px;
  background-color: #5c75b8;
  color: white;
}

.generator-content {
  position: relative;
  top: -150px;
  left: 0px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animateleft;
  animation-duration: 0.4s
}

/* cursors */
.cursor-default {
  cursor: auto;
}
.cursor-all-scroll {
  cursor: all-scroll;
}
.cursor-col-resize {
  cursor: col-resize;
}
.cursor-context-menu {
  cursor: context-menu;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}